<div class="nav-main">
  <div class="wrap">
    <a class="nav-home" href="/ligra/index.html">
      <!---      <img class="nav-logo" src="/react/img/logo.svg" width="36" height="36"> -->
      Ligra 
    </a>
    <ul class="nav-site nav-site-internal">
      <li><a href="/ligra/docs/getting-started.html"{% if page.sectionid == 'docs' or page.sectionid == 'tips' %} class="active"{% endif %}>Docs</a></li>
      <li><a href="/ligra/downloads.html"{% if page.id == 'downloads' %} class="active"{% endif %}>Download</a></li>
      <li><a href="/ligra/blog/"{% if page.sectionid == 'blog' %} class="active"{% endif %}>Blog</a></li>
    </ul>

    <ul class="nav-site nav-site-external">
      <li><a href="https://github.com/jshun/ligra">GitHub</a></li>
    </ul>
  </div>
</div>
